//////////////////////////////
// Alert Manager
//////////////////////////////

.alert_manager {
  width: 100%;
  background-color: $c-red;
  color: $c-white;
  padding: 30px;
  margin-bottom: 30px;
}
