//////////////////////////////
// Drink Inputs
//////////////////////////////

.drink_inputs {

  &-options {
    margin-top: -15px;
    margin-bottom: 15px;

    label {
      display: inline-block;
      margin-right: 10px;
    }
  }
}
