//////////////////////////////
// Home
//////////////////////////////

.home {
  display: flex;
  flex-wrap: wrap;

  &-link {
    width: 100%;
    padding: 0 10px 20px;

    @include bp(bravo) {
      width: 50%;
    }

    a {
      display: block;
      background-color: $c-teal;
      color: $c-white;
      text-align: center;
      padding: 30px 15px;
      border-radius: 4px;
      transition: background-color .3s ease;

      &:hover {
        background-color: $c-dark-teal;
      }
    }
  }
}
